<h1 style="text-align: center;">Ejemplo de Formularios Reactivos</h1>

<!-- <label for="name">Name: </label>
<input id="name" type="text" [formControl]="name">

<label for="apellido">Apellido:</label>
<input id="apellido" type="text" [(ngModel)]="apellido">

<div>

  <p>Nombre: {{name.value}}</p>
  <p>Apellidos: {{apellido}}</p>

  <button type="button" (click)="updateName()">Update Name</button>
</div> -->

<!-- <app-perfil-usuario></app-perfil-usuario>
 <app-perfil2fb></app-perfil2fb>-->
 <mat-divider></mat-divider>
<router-outlet></router-outlet>

